<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoFlow</title>
    <link rel='stylesheet' href='/stylesheets/estiles.css' />

    
</head>
<body>
    <!-- Cabeçalho -->
    <div class="barra barra-1"></div>
    <div class="barra barra-2">
        <h1>EchoFlow</h1>
        <header>
            <img src="../images/logo.png" alt="Small Logo" class="header-logo"> <!-- Small logo next to search bar -->
            <input type="text" placeholder="Pesquisar..."> <!-- Search bar -->
        </header>
    </div>

    <!-- Seção de Destaque -->
    <div class="highlight">
        <h2>Descubra novas músicas</h2>
        <p>Explore os sucessos mais recentes e suas músicas favoritas.</p>
        <button>Descubra</button>
    </div>

    <!-- Seção Feito pra Você -->
    <section>
        <h3>Feito pra Você!!!</h3>
        <div class="grid">
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagem1.jpeg" alt="Dançando com as Sombras">
                    <p>Dançando com as Sombras</p>
                </div>
            </a>
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagen2.jpeg" alt="Celestial Echoes">
                    <p>Celestial Echoes</p>
                </div>
            </a>
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagem3.jpeg" alt="Saturday">
                    <p>Saturday</p>
                </div>
            </a>
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagem4.jpeg" alt="Stardust Rebellion">
                    <p>Stardust Rebellion - Neon Mirage</p>
                </div>
            </a>
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagem5.jpeg" alt="Velvet Horizons">
                    <p>Velvet Horizons - The Moonwalkers</p>
                </div>
            </a>
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagem6.jpeg" alt="Echo & Crimson Reverie">
                    <p>Echo & Crimson Reverie - Solar Waves</p>
                </div>
            </a>
            <a href="play.html" class="card-link">
                <div class="card">
                    <img src="../images/imagem7.jpeg" alt="Velvet Pulse">
                    <p>Velvet Pulse - Neon Shadows</p>
                </div>
            </a>
        </div>
    </section>

    <!-- Seção As Mais Ouvidas -->
    <section>
        <h3>As Mais Ouvidas 🎧</h3>
        <div class="grid">
            <div class="card">
                <img src="../images/imagem8.jpeg" alt="Dançando com as Sombras">
                <p>Dançando com as Sombras</p>
            </div>
            <div class="card">
                <img src="../images/imagem9.jpeg" alt="Celestial Echoes">
                <p>Celestial Echoes</p>
            </div>
            <div class="card">
                <img src="../images/imagem10.jpeg"alt="Saturday">
                <p>Saturday</p>
            </div>
            <div class="card">
                <img src="../images/imagem11.jpeg" alt="Stardust Rebellion">
                <p>Stardust Rebellion - Neon Mirage</p>
            </div>
            <div class="card">
                <img src="../images/imagem12.jpeg" alt="Velvet Horizons">
                <p>Velvet Horizons - The Moonwalkers</p>
            </div>
            <div class="card">
                <img src="../images/imagem19.jpeg" alt="Echo & Crimson Reverie">
                <p>Echo & Crimson Reverie - Solar Waves</p>
            </div>
            <div class="card">
                <img src="../images/imagem14.jpeg" alt="Velvet Pulse">
                <p>Velvet Pulse - Neon Shadows</p>
            </div>
        </div>
    </section>

    <!-- Seção Feita pra Você -->
    <section>
        <h3>Feita pra Você!!!</h3>
        <div class="grid">
            <div class="card">
                <img src="../images/imagem15.jpeg" alt="Dançando com as Sombras">
                <p>Dançando com as Sombras</p>
            </div>
            <div class="card">
                <img src="../images/imagem16.jpeg" alt="Celestial Echoes">
                <p>Celestial Echoes</p>
            </div>
            <div class="card">
                <img src="../images/imagem17.jpeg" alt="Saturday">
                <p>Saturday</p>
            </div>
            <div class="card">
                <img src="../images/imagem18.jpeg" alt="Stardust Rebellion">
                <p>Stardust Rebellion - Neon Mirage</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <h6>© 2024 WebSoft Ltda. Todos os direitos reservados.</h6>
    </footer>
</body>
</html>