<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='style.css' />
    <div class="barra barra-1"></div>
    <div class="barra barra-2"><h1>EchoFlow</h1></div>
  </head>
  <body>
    <div class="titulo">
      <h1 class="h1-body">Cadastro</h1>
    </div>
 
    <div class="container">
     <input placeholder="Nome" class="input" name="text" type="text">
     <input placeholder="Email" class="input" name="password" type="text">
     <input placeholder="Usuário" class="input" name="text" type="text">
     <input placeholder="Senha" class="input" name="password" type="password">

     <button class="btn" onclick="voltarPagina()">cadastrar</button>

     <script>
     function voltarPagina() {
         if (window.history.length > 1) {
             window.history.back();
         } else {
             // Caso não haja página anterior, redireciona para uma página padrão
             window.location.href = 'index.html';
         }
     }
     
     </script>
    <a href="#">cadastrar</a>
    
 </div>
   <div>
   
   </div>
  </body>
 </html>