<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div class="barra barra-1"></div>
    <div class="barra barra-2"><h1>EchoFlow</h1></div>
  </head>
  <body>
    <div class="titulo">
      <h1 class="h1-body">Login</h1>
    </div>
 
    <div class="container">
     <input placeholder="Usuário" class="input" name="text" type="text">
     <input placeholder="Senha" class="input" name="password" type="password">
     <button class="btn">Entrar</button>
     <button class="btn">Cadastrar</button>
    
 </div>
   <div>
   
   </div>
  </body>
 </html>